body[b-ifpl4ebc6d] {
}
.row[b-ifpl4ebc6d]{
    max-width: 26em;
}
.card[b-ifpl4ebc6d]{
    margin-bottom: 8px;
}
button[b-ifpl4ebc6d]{
    width: 10em;
}
input[b-ifpl4ebc6d]{
    width: 13em !important;
    margin-right: 1em;
}
